# Markdown Basics

* **Bold**
* *Itallic*
* ***IB***
* Normal Text
    * Sublist1
    * Sublist2


>1. Ordered list element1
>2. Ordered list element2


- [-]Option 1
- [-]Option 2
- [x]Option 3


[JupyterLogo](jupyter.png)

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"
  
`printf("Hello Markdown")`

<https://google.com>

<img src="jupyter.png" style="float:left">

### Python Basics

### Python version 3.7
- Scripting
- Object Oriented
- Functional

In [5]:
# Python Comments

print("Good Afternoon ","!",end=" ") # Basic Output
print("Hello Python")

Good Afternoon  ! Hello Python

### Assignment

In [11]:
n1=123456 #Single Variable Assignment

n2=n3=n4=n1        #Multi Variable Assignment of the same

a,b,c=123,234,345# Multi Variable Assignment with Different Values

b
c
print(a,b,c)

123 234 345

### Data Types&Type Conversion
- int
- float
- string

In [9]:
s1="Python"
type(s1)

f1=12.56
type(f1)

float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [14]:
n1 % 11

n3=n2 ** 123

type(n3)
len(str(n3))

atoms=10**82
len(str(atoms))

83

### Conditionals

In [3]:
atoms =10 ** 79

In [16]:
if atoms<10 ** 96:
    print("TRUE")
else:
    print("FALSE")

TRUE

In [18]:
#Check if a number is Even

n=int(input("enter n"))
if n%2==0:
    print("Even")
else:
    print("Odd")

enter n2
Even

In [21]:
# Find the greatest of 3 numbers
n1=int(input("Enter the first number"))
n2=int(input("Enter the second number"))
n3=int(input("Enter the third number"))

if n1>n2 and n1>n3:
    print(n1,"is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

Enter the first number456
Enter the second number234
Enter the third number137
456 is the greatest

In [23]:
# Check if a year is a leap year
year=int(input("enter the year"))
if year%400==0 and year%100!=0 or year%4==0:
    print("leap year")
else:
    print("not leap year")

enter the year2013
not leap year

In [25]:
# Check if a number exists in a given range

n1=int(input("enter n1"))
lb=int(input("Enter lower bound"))
ub=int(input("Enter upper bound"))
if n1>=lb or n1<=ub:
    print("number available")
else:
    print("out of range")

enter n1123
Enter lower bound50
Enter upper bound150
number available

In [29]:
# Calculate the number of digits in a number
n=int(input("enter the numbers"))
print(len(str(n)))

enter the numbers234

In [33]:
#Check if a number is a multiple of 10
if n%10==0:
    print(n1,"is a multiple of 10")
else:
    print(n1,"is a not multiple of 10")

12345 is a not multiple of 10

In [34]:
#Check if a number is a factor of 1000
if 1000 % n1==0:
    print(n1,"is a factor of 1000")
else:
    print(n1,"is a not factor of 1000")

12345 is a not factor of 1000

In [31]:
#Check if given string is equal to a number
s1="12345"
n1=12345
if str(n1)==s1:
    print(n1,"is equal to",s1)
else:
    print(n1,"not equal",s1)

12345 is equal to 12345

In [30]:
#Calculate the square root of a number without functions
n1=123
n1**0.5

11.090536506409418

In [32]:
# Calculate the number of nano seconds in a 
#given year(considering leap year logic)
year=2019

if year%400==0 or year%100!=0 and year%4==0:
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31536000000000000