# Problem Solving and Programming

### Date 12 June 2019

### Day Objective

- String Slicing
- Functions in Python
- Basic Problems related to Conditional statements using functions
- Iteration in Python
- Python Data Structures-Lists,Tuples and Dictionaries
 - Basic Operations and data Structures
 - Applying Data Structures  to solve problems.

### String Slicing

In [128]:
s1 = "Pythondsfbubwobebfjqebfkjewbfj"
s1[0] # Accessing the first character in a string
s1[1] #Accessing the second character in a string
s1[len(s1)-1]  #Accessing the last character in a string
s1[-1] #Another way of accessing the last chareacter
s1[-2] #Accessing the penultimate character of a string

s1[0:2] # Accessing the first two characters

s1[-2:] # Accessing the last two characters in a string

s1[4:] # Accessing the all characters 5 th to end of string

s1[1:-1]#Accessing all characters except first and last character

s1[len(s1)//2]#Accessing a middle character

s1[-1::-1]# Reverse of a string

s1[-1:-3:-1]#Accessing last two characters in reverse of a string

s1[len(s1)//2:len(s1)//2-2:-1]# Reverse the middle two characters in an even length string

# Accessing alternate characters in a string
# "Python"
s1[::2]
#Accessing alternate characters of a string in reverse of string
#"Python" ->"nhy"
s1[::-2]

'jbekbqfeobbsnhy'

### Functions

In [129]:
#function to reverse a string
def reverseString(s):
    return s[::-1]
reverseString("Python")

'nohtyP'

In [130]:
#Function to check if a string is a palindrome
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome("madam")

True

In [131]:
# Function to check if a given year is a leap year
def leapYear(year):
    if year%400 == 0 or (year%100!=0 and year%4==0):
        return True
    return False
leapYear(2020)

True

In [132]:
# Function to count the number of digits in a given number
def countTheNumber(n):
    s=len(str(n))
    return s
countTheNumber(1234)

4

In [133]:
# Function to identify the greatest of 4 numbers
def greatestFourNumber(n1,n2,n3,n4):
    if n1>n2 and n1>n3 and n1>n4:
        return n1
    elif n2>n3 and n2>n4:
        return n2
    elif n3>n4:
        return n3
    else:
        return n4
greatestFourNumber(123,234,11,34)

234

### Iteration
- for
- while

In [134]:
# Function to print n natural numbers

def printNNaturalNumbers(n):
    for i in range(1,n+1):
        print(i,end=" ")
    return
printNNaturalNumbers(20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [135]:
# Function to print n natural number only even numbers

def printNNaturalNumbers(n):
    for i in range(1,n+1):
        if i%2==0:
            print(i,end=" ")
    return
printNNaturalNumbers(20)

2 4 6 8 10 12 14 16 18 20

In [136]:
# Function to print N Natural numbers using a while loop
def nNaturalNumbers(n):
    i=1
    while i<=n: 
        print(i,end=" ")
        i+=1
    return
nNaturalNumbers(9)

1 2 3 4 5 6 7 8 9

In [137]:
 # Function to print all numbers divisiable by 6 and 
# not a factor of 100 in a given range(lb,ub) inclusive

def divisiableFactors(lb,ub):
    for i in range(lb,ub):
        if i%6==0 and i%100!=0:
            print(i,end=" ")
    return
divisiableFactors(10,1000)

12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198 204 210 216 222 228 234 240 246 252 258 264 270 276 282 288 294 306 312 318 324 330 336 342 348 354 360 366 372 378 384 390 396 402 408 414 420 426 432 438 444 450 456 462 468 474 480 486 492 498 504 510 516 522 528 534 540 546 552 558 564 570 576 582 588 594 606 612 618 624 630 636 642 648 654 660 666 672 678 684 690 696 702 708 714 720 726 732 738 744 750 756 762 768 774 780 786 792 798 804 810 816 822 828 834 840 846 852 858 864 870 876 882 888 894 906 912 918 924 930 936 942 948 954 960 966 972 978 984 990 996

In [138]:
# Function to find the average of cubes of all even numbers
# in a given range(lb,ub) inclusive

def averageOfCubes(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        if i%2==0:
            sum+=i**3
            count+=1
    return sum/count
    
averageOfCubes(1,3)

8.0

In [139]:
# Function to Generate the list of factors for a given number
# 12->1 2 3 4 6 12
def listOfFactors(n):
    sum=0
    for i in range(1,n//2+1):
        if n%i==0:
            sum+=i
            #print(i,end=" ")
    return sum
listOfFactors(12)

16

In [140]:
# Function to calculate the factorial of a given number

def factorial(n):
    if n==1:
        return n
    else:
        return n*factorial(n-1)
factorial(5)

120

In [141]:
# Function to check if a given number is prime

def numberIsPrime(n):
    flag=True
    for i in range(2,n//2+1):
        if n%i==0:
            flag=False
            return 0
        return n
numberIsPrime(5)

5

In [142]:
# Function to check if a given number is prime

def numberIsPrime(m):
    flag=True
    for i in range(2,(m//2)+1):
        if m%i==0:
            flag=False
            return flag
    return flag
numberIsPrime(5)

True

In [143]:
# Function to calculate the average first  N prime Numbers 
def avgNPrime(n):
    count=0
    sum=0
    primeCount=0
    seqCount=2
    while(primeCount<n):
        if numberIsPrime(seqCount):
            primeCount+=1
            sum+=seqCount
        seqCount+=1
    return sum/n
avgNPrime(10)

12.9

In [144]:
# Function to generate all Perfect numbers in a given range
def isPerfect(n):
    if listOfFactors(n)==n:
        return True
    return False
def generatePerfect(lb,ub):
    for i in range(lb,ub+1):
        if isPerfect(i):
            print(i,end=" ")
    return
generatePerfect(1,1000)

6 28 496

In [145]:
#Function to print the alternate values in a range in the same line
#[500,550] ->500 502 504 ..550
#(500.550) ->501 503 505 .. 549
#range(500,550)->
# all based functions python in have start value inclusive end value Exclusive

def alternateValues(start,end):
    for i in range(start,end+1,4):
        print(i,end=" ")
    return
alternateValues(500,525)

500 504 508 512 516 520 524

In [146]:
#Function to print reverse of a given range in the same line
def reverseNumber(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ")
    return
reverseNumber(500,525)

525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501 500

In [147]:
#Funtion to print the odd numbers in reverse order in a range
def oddNumberReverse(start,end):
    for i in range(end,start-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
oddNumberReverse(500,525)

525 523 521 519 517 515 513 511 509 507 505 503 501

In [148]:
# Function to Calculate the sum of numbers in a range
def sumOfNumbers(start,end):
    sum=0
    for i in range(start,end+1):
        sum+=i
    return sum
sumOfNumbers(1,10)

55

In [149]:
# Function to calculate the average of all numbers  in a given range
#(1,5)->3
def avgAllNumbers(start,end):
    sum=0
    #count=0
    for i in range(start,end+1):
        sum+=i # Sum Calculation
        #count+=1 # Counting number of values
    return sum/(end-start+1)
avgAllNumbers(1,5)

3.0

In [150]:
# Function to generate all leap years in a given time period
# 2000 2020 -> 2000 2004 2008 2012 2016 2020
def isleapYear(year):
    if year%400==0 or (year%100!=0 and year%4==0):
        return True
    else:
        return False
def generateLeapYears(startyear,endyear):
    for year in range(startyear,endyear+1):
        if isleapYear(year):
            print(year,end=" ")
    return
generateLeapYears(2000,2020)

2000 2004 2008 2012 2016 2020

In [151]:
# Calculate number of days in a given time period using leapYear logic
# For Every year in the given time period, if the leapyear 
def numberOfDays(startyear,endyear):
    sum=0
    notl=0
    for year in range(startyear,endyear+1):
        if isleapYear(year):
            sum+=1
        else:
            notl+=1
    return (sum*365)+(notl*366)
numberOfDays(2000,2001)

731

In [163]:
# Function to calculate number of hours for a given period
# (11,1975,3,1999)
# numberOfHours(5,2019,6,2019)
#2,2016,6,2019
#[all dats from feb 2016 to dec 2016,
#. all days for years between start and end,
    # all days from jan to june 2019]
# Np Of Hours = 24 * No Of Days
# 3 steps
    #1.start month year to end of year- calculate no of 
    #2.calculate days for all years between start year
        #2017,2018 - 365* no of years
    #3.calculate days from jan to end month year
#Excluding Feb
# First SIx Months - 1,3,4,5,6,7
                    #All odd months hava 31 days
                    #All even months hava 30 days
# Last Six Months - 8,9,10,11,12
                    #All even months hava 31 days
                    #All odd months hava 30 days
# 31 days - (month <=7 and month%2!=0 and month!=2)||(month>=8)
        
def numberOfDaysMonth(month,year):
    if month==2:
        if isleapYear(year):
            return 29
        return 28
    elif (month <=7 and month %2!=0)or (month >= 8 and month % 2 ==0):
        return 31
    else:
        return 30
        
def daysInStartYear(startmonth,startyear):
    days=0
    for month in  range(startmonth,13):
        days+=numberOfDaysMonth(month,startyear)
    return days
daysInStartYear(11,2019)

61

In [164]:
def daysInEndYear(endmonth,endyear):
    days=0
    for month in  range(1,endmonth+1):
        days+=numberOfDaysMonth(month,endyear)
    return days
def numberOfHours(startmonth,startyear,endmonth,endyear):
    days=0
    days+= daysInStartYear(startmonth,startyear)
    days+= daysInEndYear(endmonth,endyear)
    if endyear-startyear==0:
        days+=numberOfDays(startyear+1,startyear+1)
    elif endyear - startyear>2:
        days+=numberOfDays(startyear+1,endyear-1)
    return 24*days
numberOfHours(11,1975,3,1999)

205512

In [153]:
# Function to average of factorial in given range
def avgOfAllFactorial(start,end):
    sum=0
    for i in range(start,end+1):
        fact=1
        for j in range(1,i+1):
            fact*=j
            print(fact,end=" ")
        sum+=fact
    return sum/i
avgOfAllFactorial(1,5)

1 1 2 1 2 6 1 2 6 24 1 2 6 24 120

30.6

In [1]:
# Function to check amstrong numbers
def armstrong(num):
    order=len(str(num))
    sum=0
    temp=num
    while temp>0:
        digit=temp%10
        sum+=digit**order
        temp//=10
    if num==sum:
        return True
    else:
        return False
armstrong(40028394225)

True

In [2]:
#Function to generate N odd Amstrong numbers
def armstrongOdd(n):
    i=1
    c=0
    while c!=n:
        if armstrong(i) and i%2!=0:
            c+=1
            print(i,end=" ")
        i+=1
armstrongOdd(10)

1 3 5 7 9 153 371 407 92727 1741725