In [2]:
# Functions to print all combinstions of pairs of integers in a unique list
#[1,2,3]->(1,2),(1,3),(2,3) ->3c2 -> 3!/(3-2)!*2!
#[1,2,3,4] -> 1,2 1,3 1,4 2,3 2,4 3,4
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
li=[1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [7]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [4]:
def differencePairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,8]
differencePairs(li)

[[1, 8], [1, 8, 7]]

In [6]:
def medium(li,k):
    while True:
        li3=differencePairs(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k]
    return -1
medium(li,2)

6

In [2]:
def isprime(num):
    for i in range(2,(num//2)+1):
        if num%i==0:
            return False
    return True
upper_l=[]
lower_l=[]
l=[]
for i in range(ord('A'),ord('Z')+1):
    if isprime(i):
        upper_l.append(i)
print(upper_l)       
for i in range(ord('a'),ord('z')+1):
    if isprime(i):
        lower_l.append(i)
print(lower_l)
l.extend(upper_l+lower_l)
print(l)
t=int(input())
for i in range(t):
    n=int(input())
    s=input()[:n]
    for char in s:
        res=[]
        for value in l:
                res.append((abs(ord(char)-value),value))
        print(chr(min(res)[1]),end="")
    print()

[67, 71, 73, 79, 83, 89]
[97, 101, 103, 107, 109, 113]
[67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]
1
6
AFREEN
CGSCCO

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,,6,9,12]
# convert the list into an
# Arithmetic Progression
[3,8,15 ]

In [8]:
def differencePairs1(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
li=[2,3,6,9,12]
differencePairs1(li)

[[2, 3, 6, 9, 12], [2, 3, 6, 9, 12, 1, 4, 7, 10]]

### Set-Data Structure in Python

Repesented by {}

In [9]:
a={1,2,3,4,5,6,6}

In [13]:
a
# Accessing elements
#for i in a:
 #   print(i,end=" ")
b={7,8,9}
a.update(b)# Adding multiple elements
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
a.discard(9)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
li=[1,2,3]
a.update(li)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
a.discard(set(li))

In [17]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
b={3,1,9,3,11}

In [19]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [20]:
a.intersection(b)

{1, 3}

In [21]:
a.isdisjoint(b)

False

In [22]:
a-b # all elements of a which are not in b

{2, 4, 5, 6, 7, 8}

In [23]:
a^b#Elements either in a or in b

{2, 4, 5, 6, 7, 8, 9, 11}

In [24]:
d=set()#create an a empty set

d

set()

In [25]:
li=[1,2,3,4,2,2,1,3,4]
u=set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural:C
Object Oriented:Java
Scripting:PHP,Python,JavaScript,Shell,Perl
Functional:Python,Haskell,scala
Logic:Prolog,Lisp

### List Comprehensions

In [28]:
# List of N natural numbers
n=10
for i in range(1,n):
    li.append(i)
li=[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
#Apply list comprehensions to store the cubes on n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
# Function to calculate the factorial
def factorial(n):
    if n == 0 or n==1:
        return 1
    return n*factorial(n-1)
#Apply list comprehension to calculate fatorial of n natural numbers

n=10
factorialList=[factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [14]:
# Store cumulative sum of numbers till n in a list
# n=3,[1,3,6]
n=int(input())
s=0
cumulativesum =[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativesum

6

[1, 3, 6, 10, 15, 21]

In [16]:
# Function to store only leap years in a given time period

st=1970
et=2019
leapYears=[]
li=[i for i in range(st,et+1) if i%400==0 or i%100!=0 and i%4==0]
li

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [24]:
li=[1,2,3,4,1]
li.sort()
unique=[]
unique=[li[i] for i in range(0,len(li)-1) if (li[i]!=li[i+1] and i<len(li)-1) or i==len(li)-1 ]
unique

[1, 2, 3]

### Iterators

Iterable - Strings,Lists,Tuples,Sets,Dictionaries

Convert Iterable to Iterator -> iter()

For Loop:

Iterator:

In [27]:
it=iter('Python')
next(it) 
next(it)

'y'

### Generators

Generator is Function

In [34]:
n=1
def generator():
    n=2  
    yield n
    n=n**3
    yield n
    n=n**3
    yield n
    
a=generator()
next(a)
next(a)
next(a)

512