### Python Library for Data Analysis
#### Pandas-Data Analysis

In [2]:
# Function to read CSV data into a DataFrame
# eturns the daraframe object
import pandas as pd
filepath='DataFiles/Income.csv'
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [3]:
incomedf=readCSVdata(filepath)
# Function to all column names in a single line
#GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013
def printDataFrameColumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
    return
printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [4]:
# Function to access a row based on a unique column value
def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
        #print(item,end=' ')
    return
accessDataFrameRow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [5]:
#Accessing a unique value based on row,colomn
#Income of a state in a given year
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex
def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex
def valueFromRowColumn(df,rowkey,columnkey):
    rowindex=getRowIndex(df,rowkey)
    columnindex=getColumnIndex(df,columnkey)
    return df.values[rowindex][columnindex]
valueFromRowColumn(incomedf,'California','2009')

56134

In [6]:
incomedf.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
#Function to update data based on rowkey and 
def updateDataCellFromRowColumn(df,rowkey,columnkey,newdata):
    rowindex=getRowIndex(df,rowkey)
    columnindex=getColumnIndex(df,columnkey)
    row=df.values[rowindex]
    row[columnindex]=newdata
    df.loc[rowindex]=row
    return
updateDataCellFromRowColumn(incomedf,'Arizona','2007',47215)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [8]:
accessDataFrameRow(incomedf,62993)

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [9]:
# Function to write DataFrame to CSV

incomedf.to_csv(filepath,index=False)

In [10]:
#Function to add a new row of data to DataFrame

#def addRowDataFrame(df,rowdata):
#   lastrowindex=len(df.values)
 #   df.loc[lastrowindex+1]=rowdata
  #  return
#rowdata=[1,2,3,4,4,5,6,6,7,8,8]
#addRowDataFrame(incomedf,rowdata)
#incomedf

In [11]:
#Average Income of all states from 2005 to 2013
sum2 = 0
for row in incomedf.values:
    sum2= sum2 + row[2::]
    print(row[2::])    
li=sum2/len(incomedf.values)
print(len(li))  
sum1=0
for i in li:
    sum1=sum1+i
sum1/len(li)

[37150 37952 42212 44476 39980 40933 42590 43464 41381]
[55891 56418 62993 63989 61604 57848 57431 63648 61137]
[45245 46657 47215 46914 45739 46896 48621 47044 50602]
[36658 37057 40795 39586 36538 38587 41302 39018 39919]
[51755 55319 55734 57014 56134 54283 53367 57020 57528]
9

48525.42222222223

In [ ]:
#State with highest average income in the last three years
def last3yearsindexs(df):
    years = []
    for i in df.columns:
        years.append(i)
    return years[-3:]
#last3yearsindexs(incomedf)
   
def highestAverageIncomeLast3years(df):
    last3years = last3yearsindexs(df)
    rindexlist = []
    cindexlist = []
    sum1 = 0
    c = 0
    sum = 0
    for row in df.values:
        sum += row[-2]
    for i in last3years:
        ri = getRowIndex(df, i)
        rindexlist.append(ri)
        ci = getColumnIndex(df, i)
    print(rindexlist)
    for k in range(len(df.values)):
        print(df.values[ri][ci:])        
highestAverageIncomeLast3years(incomedf)

In [16]:
#Print the list of all states in the same line with average income less than California
def getallvaluesinarow(df,col_name):
    x = df[col_name].unique()
    return x
def californiaSumFrameRow(df, r, c):
    rowindex = getRowIndex(df, r)
    colindex = getColumnIndex(df, c)
    sum1 = 0
    c = 0
    for j in range(rowindex,len(df.values)):
        for k in range(colindex,len(df.columns)):
            sum1 += int(df.values[j][k])
            c += 1
        print('sum:',sum1)
        print(c)
        calavg = sum1//c
    print('cal avg',calavg)
    avg = []
    for k in range(0,len(df.values)):
        sum2 = 0
        count = 0
        for j in range(2,len(df.columns)):
            sum2 += int(df.values[k][j])
            count += 1
        newavg = sum2//count
        if newavg not in avg: 
            avg.append(newavg)
    print(avg)
    x= getallvaluesinarow(df,'State')
    print(x)
    d = dict(zip(x,avg))
    print(d)
    for k,v in d.items():
        if v<calavg:
            print(k,':',v,end = ' ')
californiaSumFrameRow(incomedf, 'California', '2005')

sum: 498154
9
cal avg 55350
[41126, 60106, 47214, 38828, 55350]
['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California']
{'Alabama': 41126, 'Alaska': 60106, 'Arizona': 47214, 'Arkansas': 38828, 'California': 55350}
Alabama : 41126 Arizona : 47214 Arkansas : 38828

In [17]:
#Print the names of states based on descending order of income in the year 2009
def allStates(df):
    return(df['State'].unique())
allStates(incomedf)
def allincomesin2009(df):
    return(df['2009'].unique())
allincomesin2009(incomedf)

def descendingorder(df,year):
    stateslist = allStates(df)
    incomelist = allincomesin2009(df)
    d = dict(zip(stateslist,incomelist))
    print(d)
    listofTuples = sorted(d.items() , reverse=True ,key=lambda x: x[1])
    for k,v in listofTuples :
        print(k , " ::" , v )
    
descendingorder(incomedf,'2009')

{'Alabama': 39980, 'Alaska': 61604, 'Arizona': 45739, 'Arkansas': 36538, 'California': 56134}
Alaska  :: 61604
California  :: 56134
Arizona  :: 45739
Alabama  :: 39980
Arkansas  :: 36538

In [18]:
#State with the lowest recorded income from 2005 to 2013
def lowestRecordedincome(df,col1key,columnkey):
    col1key = getColumnIndex(df, col1key)
    c = 0
    vlist = []
    for i in range(0,len(df.values)):
        for j in range(col1key,len(df.columns)):
            v = int(df.values[i][j])
            if v not in vlist:
                vlist.append(v)
    return min(vlist)
def statename(df,col1key,columnkey):
    col1index = getColumnIndex(df, col1key)
    c = 0
    min_ele = lowestRecordedincome(df,col1key,columnkey)
    print(min_ele)
    vlist = []
    for i in range(0,len(df.values)):
        for j in range(col1index,len(df.columns)):
            if min_ele == int(df.values[i][j]):
                k = i
    colindex = getColumnIndex(incomedf, "State")
    print(incomedf.values[k][colindex])

statename(incomedf,'2005','2013')

36538
Arkansas